/* To display subscripts and angle brackets that are missing in Inconsolata */

@font-face {
  font-family: "DejaVu Sans Mono";
  src: url("dejamono-r-subset.woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* A few arrows for navigation */

@font-face {
  font-family: "DejaVu-Arrows";
  src: url("dejasans-b-arrows.woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
