@import url("fira-code/index.css");
@import url("bodoni-moda/index.css");
@import url("eb-garamond/index.css");
@import url("linux-libertine-o/index.css");
@import url("linux-biolinum-o/index.css");
@import url("inconsolata-lgc/index.css");
@import url("stix/index.css");
@import url("lxgw-wen-kai/index.css");
@import url("lxgw-new-clear-gothic/index.css");
@import url("lxgw-clear-gothic/index.css");
