@font-face {
  font-family: "Terminus (TTF)";
  src: url("TerminusTTF-4.49.1.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Terminus (TTF)";
  src: url("TerminusTTF-Italic-4.49.1.ttf");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Terminus (TTF)";
  src: url("TerminusTTF-Bold-4.49.1.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Terminus (TTF)";
  src: url("TerminusTTF-Bold Italic-4.49.1.ttf");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
