@font-face {
  font-family: "LXGW Clear Gothic";
  src: local("LXGW Clear Gothic Regular"), local("LXGW Clear Gothic-Regular"),
    local("LXGW Clear Gothic"), url("LXGWClearGothic-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LXGW Clear Gothic";
  src: local("LXGW Clear Gothic Book"), local("LXGW Clear Gothic-Book"),
    url("LXGWClearGothic-Book.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* 中文字体不用斜体 */

@font-face {
  font-family: "LXGW Clear Gothic";
  src: local("LXGW Clear Gothic"), url("LXGWClearGothic-Regular.ttf");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "LXGW Clear Gothic";
  src: local("LXGW Clear Gothic Book"), local("LXGW Clear Gothic-Book"),
    url("LXGWClearGothic-Book.ttf");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
